body{
    background-color: #7CfC00;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#paginaInicial{
    border: 2px solid #2222ff;
    background-color: #2222aa;
    color: #fff;
    text-align: left;
}

li{
    list-style: none;
    display: inline;
    border: 2px solid #223300;
    padding: 15px;   
    background-color: #223300;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #fff;
    text-align: left;
}

ul{
    text-align: right;
}

h1, h4{
    padding-left: 5%;
    width: 95.4%;
    height: 10%;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: -5px;
    background-color: #878088;
}

h4{
    margin-top: -20px;
}

#capa{    
    width: 100%;
    height: 80%;
}

#sobre{
    background-color: #573e0d;
    margin-top: -18px;
    padding: 25px;
    text-align: justify;
    font-size: 25px;
}

#history{
    background-color: #9911ff;
    width: 103.4%;
    height: 80px;
    text-align: center;
    margin-top: 25px;
    margin: -20px;
    color: white;
}

#dezFilmes{
    text-align: center;
    background-color: #9911ff;
}

#top10{
    background-color: #00f1ff;
    height: 100px;
    position: center;
    margin-top: -10px;
    text-align: center;
    text-decoration-line: underline;
    color: white;
}

.grid-container{
    display: grid;
    margin-left: 5%;
    grid-template-columns: 30% 30% 30%;
    /*grid-auto-rows: 200px;*/
}

#item1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#item2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item3{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item4{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#item5{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#item6{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item7{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item8{
    
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#item9{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#item10{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item11{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#item12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#item13{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#item14{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

#item15{
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

#item16{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

#item17{
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

#item18{
    grid-column-start: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

#item1, #item3, #item5, #item7, #item9, #item11, #item13, #item15, #item17 {
    background-color: #0011ff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px dotted #fff;
}

#item2, #item4, #item6, #item8, #item10, #item12, #item14, #item16, #item18 {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border: 2px dotted #fff;
}

.banner{
    width: 60%;
    height: 100%;
}